.component-product-item {
    text-transform: uppercase;
    font-weight: 600;
    align-items: center;
    opacity: 0;

    &.fade-in {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: .3s;
    }
    
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    &.clickable {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 135px;
    }

    p {
        width: inherit;
        font-size: 10px;

        margin: 5px 0 0 0;

        &.description {
            color: #482f2f;
            font-size: 8px;
        }
    }

    span {
        font-size: 8px;
    }
}