
.component-home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 70px;

    .container {
        display: flex;
        flex-grow: 1;
        padding: 25px;

        .inner-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-left: 25px;
            margin-right: 25px;

            .product-list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-shrink: 0;

                .component-product-item {
                    flex: 0 0 20%;
                }
            }
        }
    }
}
