
.component-home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;

    .home-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;
        text-transform: uppercase;

        .title {
            font-weight: 600;
        }

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                font-size: 11px;

                &:not(:last-child){
                    margin-right: 30px;
                }

                a {
                    &:hover {
                        text-decoration: underline;
                    }
     
                     text-decoration: none;
                     color: black;
                }
            }
        }
    }

    .container {
        display: flex;
        flex-grow: 1;
        padding: 25px;

        .inner-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-left: 25px;
            margin-right: 25px;

            .product-list {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-shrink: 0;

                .component-product-item {
                    flex: 0 0 20%;
                }
            }
        }
    }
}
