
.component-home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .container {
        display: flex;
        flex-grow: 1;
        padding: 25px;

        .inner-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-left: 25px;
            margin-right: 25px;

            .product-list {
                display: flex;
                flex-wrap: wrap;
                flex-shrink: 0;

                .component-product-item {
                    flex: 0 0 20%;
                    
                    /* Mobile devices (425px and down) */
                    @media only screen and (max-width: 425px) {
                        width: 80px !important;

                        img {
                            height: 80px !important;
                            width: inherit;
                        }
                    }
                }
            }
        }
    }
}
