
.component-home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .container {
        display: flex;
        flex-grow: 1;
        padding: 25px;

        .inner-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            margin-left: 25px;
            margin-right: 25px;

            .product-list {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 150px);
                gap: 30px;
                justify-content: center;

                /* Mobile devices */
                @media only screen and (max-width: 768px) {
                    grid-template-columns: repeat(auto-fit, 150px);
                }
            }
        }
    }
}
