.component-product-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-page-container {
        width: 50%;

        /* Large devices (laptops/desktops, 1024px and up) */
        @media only screen and (min-width: 1024px) {
            width: 35%;
        }

        > button {
            width: 100%;
            margin-top: 10%;
            border: 1px solid gray !important;
            padding: 5px !important;
            margin-bottom: 15px;
            font-size: 12px !important;
            text-transform: uppercase !important;
    
            &:hover {
                background-color: #eaeaea !important;
            }
        }
    
        .component-product-item {
            width: 100%;
            margin: 0;
            padding: 0;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .product-disclosure {
        margin-top: 40px;
        margin-bottom: 25px;
        width: 75%;
        font-size: 10px;
        text-align: center;
        font-weight: 500;
    }
}