.component-search-bar {
    display: flex;
    flex-direction: column;

    input {
        margin-bottom: 10px;
        font-size: 10px;
        outline: black;
        text-transform: uppercase;
        border: 1px solid black;
    }
}