
.component-app {
    display: flex;
    flex-direction: column;

    &.open {
        position: fixed;
        overflow: hidden;
        width: 100%;
    }

    /* Large devices (laptops/desktops, 1024px and down) */
    @media only screen and (max-width: 1024px) {
        .app-nav {
            > div {
                .title {
                    font-size: 18px;
                }
            }
        }

        .page-container {
            padding-top: 90px !important;
        }
        
    }

    .search-menu {
        margin-top: 10px;
        position: absolute;
    }

    .app-nav-dropdown {
        margin-top: 50px;
        display: block;
        width: 100%;
        opacity: .9999;
        overflow-x: hidden;
        overflow-y: hidden;
        box-sizing: border-box;
        position: fixed;
        -webkit-backface-visibility: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        min-height: 100%;
        background: #fff;
        box-sizing: border-box;
        padding: 0;
        -webkit-overflow-scrolling: touch !important;
        z-index: 999;
        user-select: none;

        ul {
            margin: 55px 0 0;
            list-style: none;
            box-sizing: border-box;
            font-size: 32px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;

            li {
                padding: 10px;
                cursor: pointer;
            }
        }

        .close-menu {
            font-size: 22px;
            font-weight: 300;
            padding: 30px;
            text-align: center;
            cursor: pointer;
        }
    }

    .app-nav {
        display: flex;
        position: fixed;
        width: 100%;
        text-transform: uppercase;
        white-space: nowrap;
        z-index: 1;

        > div {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            padding-left: 25px;
            padding-right: 25px;
        }

        .title {
            font-weight: 600;
            user-select: none;
        }

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                font-size: 11px;
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                }

                a {
                    &:hover {
                        text-decoration: underline;
                    }
     
                     text-decoration: none;
                     color: black;
                }

                span {
                    &:hover {
                        text-decoration: underline;
                    }

                    cursor: pointer;
                }
            }
        }
    }

    .page-container {
        display: flex;
        justify-content: center;
        padding-top: 70px;
    }
}