
.component-app {
    display: flex;
    flex-direction: column;

    /* Large devices (laptops/desktops, 1024px and down) */
    @media only screen and (max-width: 1024px) {
        .app-nav {
            > div {
                .title {
                    font-size: 18px;
                }
            }
        }

        .page-container {
            padding-top: 90px !important;
        }
        
    }

    .app-nav {
        display: flex;
        position: fixed;
        width: 100%;
        text-transform: uppercase;
        white-space: nowrap;

        > div {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            padding-left: 25px;
            padding-right: 25px;
        }

        .title {
            font-weight: 600;
        }

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                font-size: 11px;

                &:not(:last-child){
                    margin-right: 30px;
                }

                a {
                    &:hover {
                        text-decoration: underline;
                    }
     
                     text-decoration: none;
                     color: black;
                }
            }
        }
    }

    .page-container {
        padding-top: 70px;
    }
}