@import-normalize;

body {
  margin: 0;
  overflow-y: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

    /*pass window height (w/o scroll bars) down to react app, note can't use vh because that
    includes scroll bars and mobile browser footer, etc so doesn't give viewable area*/
    html,
    body {
      height: 100%;
    }

    #root {
      min-height: 100%;
    }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (max-width: 1024px) {
    .desktop-visible {
        display: none;
    }
}
/* Mobile devices (mobile devices, 1024px and down) */
@media only screen and (min-width: 1024px) {
  .mobile-visible {
      display: none;
  }
}